body {
  font-family: "PT Sans", sans-serif;
  font-size: ;
  color: ;
  line-height: ;

}

.main-navigation {
  width: 1056;
  }

.main-navigation a {
  display: inline-block;
  vertical-align: top;
  padding-left: 144px;
  text-align: left;
  text-decoration: none;
  font-family: PT Sans, bold;
  color: black;
  font-size: 14px;
  line-height: 26px;
}

.container {
  width: 1200px;
  padding: 40px;
  margin: 0 auto;
}

h1 {
  font-family: ;
  font-size: ;
  line-height: ;
  color: ;
}

h2 {
  font-family: ;
  font-size: ;
  line-height: ;
  color: ;

}

.index-content h1 {
  font-family: PT Sans, bold;
  color: black;
  font-size: 21px;
  line-height: 26px;
}



